body {
  text-align:center;
  background-image:url('background.jpg');
  background-size:cover;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 5.0em;
  color: #EAEAEA;
}

.maintable {
  border: 3px solid #ffffff;
  padding: 0;
  width: 80%;
  height: 550px;
  text-align:center;
  margin-left: auto; 
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

.maintr {
  border: 3px solid #ffffff;
  font-family: 'Exo 2', sans-serif;
  color: #3F0099;
  background-color: #E8D9FF;
}

td {
  border: 3px solid #ffffff;
  font-family: 'Exo 2', sans-serif;
  color: #3F0099;
  background-color: #CB6CFF;
}

th {
  border: 1px solid #ffffff;
  font-family: 'Exo 2', sans-serif;
  color: #3F0099;
  background-color: #E8D9FF;
  font-weight: bold;
}

.planet {
  background-color: #A566FF;
  font-weight: bold;
  font-size: 2em;
}